{
  "openapi": "3.1.0",
  "info": {
    "title": "FRYTE API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.fryte.com"
    }
  ],
  "paths": {
    "/planner": {
      "post": {
        "tags": [
          "planner"
        ],
        "summary": "Plan Tour",
        "description": "Plan a tour by performing routing, retrieving vehicle and POI data, running a simulation, and returning an assembled PlannerResponse.\n\nPerforms routing using either a provided flexpolyline or start/stop positions, augments route data with the planner request, fetches vehicle information, obtains POIs along the route (optionally via the eco-movement feature), invokes the simulation service, and returns the final PlannerResponse.\n\nReturns:\n    PlannerResponse: Response containing vehicle_id, battery_level_start, battery_level_end, sections, poi_list, optimal_departure_time, time_windows_reachable, and other planner metadata.\n\nRaises:\n    HTTPException: If the request is invalid or if any downstream service call (routing, vehicle info, POI retrieval, or simulation) fails.",
        "operationId": "plan_tour_planner_post",
        "security": [
          {
            "HybridAuthBearer": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "corridor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 20000,
              "minimum": 1000,
              "default": 8000,
              "title": "Corridor"
            }
          },
          {
            "name": "tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Tenant ID",
              "title": "Tenant Id"
            },
            "description": "Tenant ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlannerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlannerResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/planner/v2": {
      "post": {
        "tags": [
          "planner"
        ],
        "summary": "Submit route optimization",
        "description": "Submit a route for optimization. The request is processed asynchronously and returns HTTP 202 with identifiers to track the job.\n\nUse the returned `job_id` to poll `GET /planner/jobs/{job_id}` for status. Once status is `succeeded`, retrieve the result via `GET /planner/optimizations/{optimization_id}/result`.",
        "operationId": "plan_tour_v2_planner_v2_post",
        "security": [
          {
            "HybridAuthBearer": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "corridor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 20000,
              "minimum": 1000,
              "description": "Search corridor width in meters around the route for finding charging stations.",
              "default": 8000,
              "title": "Corridor"
            },
            "description": "Search corridor width in meters around the route for finding charging stations."
          },
          {
            "name": "min_charge_duration_min",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 0,
              "description": "Minimum charging session duration in minutes enforced by the optimizer's charge planning (pure charging time, excluding connecting/parking overhead). 0 disables the floor.",
              "default": 0,
              "title": "Min Charge Duration Min"
            },
            "description": "Minimum charging session duration in minutes enforced by the optimizer's charge planning (pure charging time, excluding connecting/parking overhead). 0 disables the floor."
          },
          {
            "name": "tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Tenant ID",
              "title": "Tenant Id"
            },
            "description": "Tenant ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlannerRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlannerV2SubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid start_time_tour or missing tenant context."
          },
          "401": {
            "description": "Missing or invalid authentication."
          },
          "429": {
            "description": "Rate limit exceeded."
          },
          "502": {
            "description": "Tour creation or optimizer submission failed."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/planner/jobs/{job_id}": {
      "get": {
        "tags": [
          "planner"
        ],
        "summary": "Get job status",
        "description": "Check the current status of an optimization job.\n\nPoll this endpoint after submitting a route via `POST /planner/v2`. Status values:\n- `queued` — waiting to be processed\n- `running` — optimization in progress\n- `succeeded` — route optimized, retrieve result with `GET /planner/optimizations/{optimization_id}/result`\n- `not_drivable` — route cannot be completed with the given parameters\n- `failed` — an error occurred\n- `canceled` — job was canceled",
        "operationId": "get_job_status_planner_jobs__job_id__get",
        "security": [
          {
            "HybridAuthBearer": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Job identifier returned by POST /planner/v2.",
              "title": "Job Id"
            },
            "description": "Job identifier returned by POST /planner/v2."
          },
          {
            "name": "tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Tenant ID",
              "title": "Tenant Id"
            },
            "description": "Tenant ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication."
          },
          "404": {
            "description": "Job not found."
          },
          "429": {
            "description": "Rate limit exceeded."
          },
          "502": {
            "description": "Optimizer service unavailable or returned an invalid response."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/planner/jobs": {
      "get": {
        "tags": [
          "planner"
        ],
        "summary": "List jobs",
        "description": "List the authenticated user's optimization jobs. Returns job summaries with status, timestamps, and identifiers.",
        "operationId": "list_jobs_planner_jobs_get",
        "security": [
          {
            "HybridAuthBearer": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Deprecated. If provided, must match the authenticated user's ID; jobs are always listed for the authenticated user.",
              "title": "User Id"
            },
            "description": "Deprecated. If provided, must match the authenticated user's ID; jobs are always listed for the authenticated user."
          },
          {
            "name": "tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Tenant ID",
              "title": "Tenant Id"
            },
            "description": "Tenant ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JobListResponse"
                  },
                  "title": "Response List Jobs Planner Jobs Get"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication."
          },
          "403": {
            "description": "user_id does not match the authenticated user."
          },
          "429": {
            "description": "Rate limit exceeded."
          },
          "502": {
            "description": "Optimizer service unavailable or returned an invalid response."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/planner/optimizations/{optimization_id}/result": {
      "get": {
        "tags": [
          "planner"
        ],
        "summary": "Get optimization result",
        "description": "Retrieve the optimization result for a completed job.\n\nCall this endpoint once `GET /planner/jobs/{job_id}` returns status `succeeded` or `not_drivable`.\n\nA `succeeded` result contains route `sections` with charging stop details (`poi_summary`) and candidate charging stations (`poi_list`). When status is `not_drivable`, the `not_drivable_reason` field explains why the route is not feasible.",
        "operationId": "get_optimization_result_planner_optimizations__optimization_id__result_get",
        "security": [
          {
            "HybridAuthBearer": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "optimization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Optimization identifier returned by POST /planner/v2.",
              "title": "Optimization Id"
            },
            "description": "Optimization identifier returned by POST /planner/v2."
          },
          {
            "name": "tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Tenant ID",
              "title": "Tenant Id"
            },
            "description": "Tenant ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptimizationResultResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication."
          },
          "404": {
            "description": "Optimization not found."
          },
          "409": {
            "description": "Optimization result is not available yet."
          },
          "429": {
            "description": "Rate limit exceeded."
          },
          "502": {
            "description": "Optimizer service unavailable or returned an invalid response."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "health"
        ],
        "summary": "Health Check",
        "operationId": "health_check_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ConnectorPos": {
        "type": "string",
        "enum": [
          "LEFT",
          "RIGHT"
        ],
        "title": "ConnectorPos"
      },
      "ConnectorType": {
        "type": "string",
        "enum": [
          "MCS",
          "CCS"
        ],
        "title": "ConnectorType"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "JobListResponse": {
        "properties": {
          "optimization_id": {
            "type": "integer",
            "title": "Optimization Id",
            "description": "Optimization identifier."
          },
          "job_id": {
            "type": "string",
            "title": "Job Id",
            "description": "Job identifier (UUID)."
          },
          "date_created": {
            "type": "string",
            "format": "date-time",
            "title": "Date Created",
            "description": "Timestamp when the job was created (ISO-8601)."
          },
          "last_update": {
            "type": "string",
            "format": "date-time",
            "title": "Last Update",
            "description": "Timestamp of the last status update (ISO-8601)."
          },
          "status": {
            "$ref": "#/components/schemas/OptimizationJobStatus",
            "description": "Current job status."
          }
        },
        "type": "object",
        "required": [
          "optimization_id",
          "job_id",
          "date_created",
          "last_update",
          "status"
        ],
        "title": "JobListResponse",
        "description": "A job summary in GET /planner/jobs, mirroring the optimizer's summary schema.",
        "example": {
          "date_created": "2026-04-30T08:00:00Z",
          "job_id": "c3f1c944-a44c-4c07-ab52-7df7ba94024a",
          "last_update": "2026-04-30T08:00:25Z",
          "optimization_id": 7658,
          "status": "succeeded"
        }
      },
      "JobStatusResponse": {
        "properties": {
          "job_id": {
            "type": "string",
            "title": "Job Id",
            "description": "Job identifier (UUID)."
          },
          "optimization_id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Optimization Id",
            "description": "Optimization identifier."
          },
          "status": {
            "$ref": "#/components/schemas/OptimizationJobStatus",
            "description": "Current job status."
          },
          "tour_id": {
            "type": "integer",
            "title": "Tour Id",
            "description": "Tour identifier."
          },
          "vehicle_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Vehicle Id",
            "description": "Vehicle identifier."
          }
        },
        "type": "object",
        "required": [
          "job_id",
          "status",
          "tour_id"
        ],
        "title": "JobStatusResponse",
        "description": "Response body for GET /planner/jobs/{job_id}, mirroring the optimizer's job schema.",
        "example": {
          "job_id": "c3f1c944-a44c-4c07-ab52-7df7ba94024a",
          "optimization_id": 7658,
          "status": "succeeded",
          "tour_id": 7615,
          "vehicle_id": "010160700001"
        }
      },
      "NotDrivableReason": {
        "properties": {
          "code": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Code",
            "description": "Reason code: no_chargers_available or battery_depleted_mid_route."
          },
          "message": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Message",
            "description": "Human-readable explanation."
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "NotDrivableReason",
        "description": "Reason returned when the optimizer determines a route is not drivable."
      },
      "OptimizationJobStatus": {
        "type": "string",
        "enum": [
          "queued",
          "running",
          "succeeded",
          "not_drivable",
          "failed",
          "canceled"
        ],
        "title": "OptimizationJobStatus",
        "description": "Lifecycle status of an optimization job."
      },
      "OptimizationResultResponse": {
        "properties": {
          "optimization_id": {
            "type": "integer",
            "title": "Optimization Id",
            "description": "Optimization identifier."
          },
          "tour_id": {
            "type": "integer",
            "title": "Tour Id",
            "description": "Tour identifier."
          },
          "status": {
            "$ref": "#/components/schemas/OptimizationJobStatus",
            "description": "Job lifecycle status; a result is available for succeeded or not_drivable."
          },
          "battery_level_start": {
            "type": "number",
            "title": "Battery Level Start",
            "description": "Starting battery level (0-1)."
          },
          "battery_level_end": {
            "type": "number",
            "title": "Battery Level End",
            "description": "Battery level at the end of the tour (0-1)."
          },
          "qualification": {
            "type": "string",
            "title": "Qualification",
            "description": "Route feasibility result: Driveable or not_drivable. See status for job lifecycle."
          },
          "sections": {
            "items": {
              "$ref": "#/components/schemas/ResultSection"
            },
            "type": "array",
            "title": "Sections",
            "description": "Route sections with charging stop details. May contain more sections than the request if charging stops were inserted."
          },
          "poi_list": {
            "items": {
              "$ref": "#/components/schemas/ResultPOI"
            },
            "type": "array",
            "title": "Poi List",
            "description": "Charging stations considered as candidates along the route."
          },
          "poi_filter": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/POIInfo"
              },
              {
                "type": "null"
              }
            ],
            "description": "Charging station filter criteria applied to this optimization."
          },
          "optimal_departure_time": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Optimal Departure Time",
            "description": "Optimal departure time (ISO-8601) for reaching all time windows, if applicable."
          },
          "time_windows_reachable": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Time Windows Reachable",
            "description": "Whether all time windows could be reached: 'True', 'False', or 'Not considered'."
          },
          "available_charging_stations": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ResultAvailableStation"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Available Charging Stations",
            "description": "All charging stations found within the route corridor, before the optimizer narrowed them down to the selected stops. Null for results created before this field was introduced."
          },
          "not_drivable_reason": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/NotDrivableReason"
              },
              {
                "type": "null"
              }
            ],
            "description": "Reason why the route is not drivable."
          },
          "warnings": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Warnings",
            "description": "Advisory notes about this result that a dispatcher should check before dispatching — for example a custom search corridor, or a battery level that drops below the advisory minimum state of charge. Null when there is nothing to flag."
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "optimization_id",
          "tour_id",
          "status",
          "battery_level_start",
          "battery_level_end",
          "qualification",
          "sections",
          "poi_list"
        ],
        "title": "OptimizationResultResponse",
        "description": "Response body for GET /planner/optimizations/{optimization_id}/result.",
        "example": {
          "battery_level_end": 0.41,
          "battery_level_start": 0.8,
          "optimization_id": 7658,
          "poi_list": [],
          "qualification": "Driveable",
          "sections": [
            {
              "length_m": 215246.0,
              "payload_kg": 19300.0,
              "poi_summary": {
                "address": "See Destination",
                "charge_time_min": 0,
                "coordinate_lat": 49.4521,
                "coordinate_lon": 11.0767,
                "energy_kWh": 0,
                "name": "Destination",
                "sec_duration_min": 201.95,
                "sec_length_km": 215.25,
                "service_time_min": 0,
                "start_soc": 0.41,
                "stop_soc": 0.41
              },
              "polyline": "BlX8w2pJ4wh4B...",
              "service_time_min": 30.0,
              "start_pos": [
                48.7758,
                9.1829,
                0.8
              ],
              "stop_pos": [
                49.4521,
                11.0767,
                0.41
              ]
            }
          ],
          "status": "succeeded",
          "tour_id": 7615
        }
      },
      "POIInfo": {
        "properties": {
          "min_kW": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Min Kw",
            "description": "Minimum required power (in kW) for a charging station."
          },
          "max_kW": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Max Kw",
            "description": "Maximum acceptable power (in kW) for a charging station."
          },
          "cpo": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cpo",
            "description": "A list of Charge Point Operators (CPO) to filter by."
          },
          "truck_approved": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TruckApproved"
              },
              {
                "type": "null"
              }
            ],
            "description": "Truck-ready stations: T (tractor-only) or TT (truck and trailer). TT is a subset of T."
          },
          "connector_type": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ConnectorType"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Connector Type",
            "description": "List of connector types (e.g., CCS, MCS)."
          },
          "connector_pos": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ConnectorPos"
              },
              {
                "type": "null"
              }
            ],
            "description": "Position of the connector on the vehicle (e.g., LEFT, RIGHT)."
          },
          "bookable": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Bookable",
            "description": "Only return bookable charging stations."
          }
        },
        "type": "object",
        "title": "POIInfo"
      },
      "PlannerRequest": {
        "properties": {
          "vehicle_id": {
            "type": "string",
            "title": "Vehicle Id",
            "description": "The unique identifier of the vehicle."
          },
          "battery_level_start": {
            "type": "number",
            "maximum": 1.0,
            "minimum": 0.1,
            "title": "Battery Level Start",
            "description": "The starting battery level of the vehicle (from 0.1 to 1.0)."
          },
          "battery_level_end": {
            "anyOf": [
              {
                "type": "number",
                "maximum": 0.8,
                "minimum": 0.1
              },
              {
                "type": "null"
              }
            ],
            "title": "Battery Level End",
            "description": "The desired battery level at the end of the tour (from 0.1 to 0.8).",
            "default": 0.2
          },
          "section_list": {
            "items": {
              "$ref": "#/components/schemas/SectionRequest"
            },
            "type": "array",
            "minItems": 1,
            "title": "Section List",
            "description": "A list of route sections to be processed."
          },
          "poi_info": {
            "$ref": "#/components/schemas/POIInfo",
            "description": "Filter criteria for charging stations along the route."
          },
          "service_time_departure_min": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Service Time Departure Min",
            "description": "Service time at departure in minutes. Added to total tour duration.",
            "default": 0
          },
          "start_time_tour": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Start Time Tour",
            "description": "Start time of the tour in HH:MM:SS or ISO-8601 format. A time-only value is interpreted as today's date in UTC."
          },
          "include_available_charging_stations": {
            "type": "boolean",
            "title": "Include Available Charging Stations",
            "description": "Legacy POST /planner (v1) only: when true, the synchronous response includes all charging stations along the corridor. POST /planner/v2 results always include available_charging_stations.",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "vehicle_id",
          "battery_level_start",
          "section_list",
          "poi_info"
        ],
        "title": "PlannerRequest",
        "description": "Top-level request body for POST /planner and POST /planner/v2.",
        "example": {
          "battery_level_end": 0.2,
          "battery_level_start": 0.8,
          "poi_info": {
            "connector_pos": "RIGHT",
            "connector_type": [
              "CCS"
            ],
            "min_kW": 150,
            "truck_approved": "T"
          },
          "section_list": [
            {
              "payload_kg": 19300,
              "section_id": "section_0",
              "service_time_min": 30,
              "start_pos": [
                48.7758,
                9.1829
              ],
              "stop_pos": [
                49.4521,
                11.0767
              ]
            }
          ],
          "start_time_tour": "08:00:00",
          "vehicle_id": "010160700001"
        }
      },
      "PlannerResponse": {
        "additionalProperties": true,
        "type": "object"
      },
      "PlannerV2SubmitResponse": {
        "properties": {
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Human-readable status message."
          },
          "optimization_id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Optimization Id",
            "description": "Optimization identifier. Use this to retrieve the result via GET /planner/optimizations/{optimization_id}/result."
          },
          "job_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Job Id",
            "description": "Job identifier (UUID). Use this to poll for status via GET /planner/jobs/{job_id}."
          },
          "tour_id": {
            "type": "integer",
            "title": "Tour Id",
            "description": "Tour identifier."
          },
          "warnings": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Warnings",
            "description": "Warnings about the request, if any."
          }
        },
        "type": "object",
        "required": [
          "message",
          "tour_id"
        ],
        "title": "PlannerV2SubmitResponse",
        "description": "Response body for POST /planner/v2.",
        "example": {
          "job_id": "c3f1c944-a44c-4c07-ab52-7df7ba94024a",
          "message": "202 - Job submitted.",
          "optimization_id": 7658,
          "tour_id": 7615
        }
      },
      "ResultAvailableStation": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Id",
            "description": "Station identifier."
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "description": "Station name."
          },
          "address": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Address",
            "description": "Street address."
          },
          "latitude": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Latitude",
            "description": "Latitude."
          },
          "longitude": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Longitude",
            "description": "Longitude."
          },
          "power_available_kW": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Power Available Kw",
            "description": "Charging power in kW."
          },
          "truck_approved": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Truck Approved",
            "description": "Truck approval: 'T' (tractor) or 'TT' (truck + trailer)."
          },
          "amenities": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Amenities",
            "description": "Available amenities."
          },
          "bookable": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Bookable",
            "description": "Whether the station supports booking."
          },
          "location_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Location Id",
            "description": "External location identifier (OCPI)."
          },
          "uses_company_vehicle_types": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Uses Company Vehicle Types",
            "description": "Company vehicle type setting."
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "ResultAvailableStation",
        "description": "A charging station found within the route corridor."
      },
      "ResultPOI": {
        "properties": {
          "title": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Title",
            "description": "Station name."
          },
          "address": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Address",
            "description": "Street address."
          },
          "distance_from_start": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Distance From Start",
            "description": "Distance from route start in meters."
          },
          "position_lat": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Position Lat",
            "description": "Station latitude."
          },
          "position_lon": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Position Lon",
            "description": "Station longitude."
          },
          "power": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Power",
            "description": "Charging power in kW."
          },
          "detour_from_route": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Detour From Route",
            "description": "Detour distance from the route in meters."
          },
          "section": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Section",
            "description": "Section index this station belongs to."
          },
          "position_lat_route": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Position Lat Route",
            "description": "Nearest point on route — latitude."
          },
          "position_lon_route": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Position Lon Route",
            "description": "Nearest point on route — longitude."
          },
          "poi_id": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Poi Id",
            "description": "Station identifier."
          },
          "mapping": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Mapping",
            "description": "Station grouping identifier."
          },
          "represents": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Represents",
            "description": "Whether this station represents its group."
          },
          "poi_crash": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Poi Crash",
            "description": "Position conflict flag."
          },
          "opening_time": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Opening Time",
            "description": "Station opening time (ISO-8601)."
          },
          "closing_time": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Closing Time",
            "description": "Station closing time (ISO-8601)."
          },
          "poi_arrival_time": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Poi Arrival Time",
            "description": "Estimated arrival time at this station (ISO-8601)."
          },
          "bookable": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Bookable",
            "description": "Whether the station supports booking."
          },
          "location_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Location Id",
            "description": "External location identifier (OCPI)."
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "ResultPOI",
        "description": "A candidate charging station from the optimizer's POI list."
      },
      "ResultPOIAlternative": {
        "properties": {
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "description": "Station name."
          },
          "address": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Address",
            "description": "Street address."
          },
          "coordinate_lat": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Coordinate Lat",
            "description": "Latitude."
          },
          "coordinate_lon": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Coordinate Lon",
            "description": "Longitude."
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "ResultPOIAlternative",
        "description": "Alternative charging station near a selected stop."
      },
      "ResultPOISummary": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Id",
            "description": "Station identifier."
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "description": "Station name or 'Destination' for the final stop."
          },
          "address": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Address",
            "description": "Street address."
          },
          "coordinate_lat": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Coordinate Lat",
            "description": "Latitude."
          },
          "coordinate_lon": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Coordinate Lon",
            "description": "Longitude."
          },
          "amenities": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Amenities",
            "description": "Available amenities at the location."
          },
          "energy_kWh": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Energy Kwh",
            "description": "Energy recharged at this stop in kWh."
          },
          "power_available_kW": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Power Available Kw",
            "description": "Charging power at this station in kW."
          },
          "charge_time_min": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Charge Time Min",
            "description": "Charging duration in minutes."
          },
          "service_time_min": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Service Time Min",
            "description": "Total stop duration in minutes (charging + service + rest)."
          },
          "arrival_time": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Arrival Time",
            "description": "Arrival time at this stop (ISO-8601)."
          },
          "additional_stops": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Additional Stops",
            "description": "Indicates whether additional stops are present."
          },
          "bookable": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Bookable",
            "description": "Whether the station supports booking."
          },
          "location_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Location Id",
            "description": "External location identifier (OCPI)."
          },
          "start_soc": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Start Soc",
            "description": "Battery state of charge on arrival (0-1)."
          },
          "stop_soc": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Stop Soc",
            "description": "Battery state of charge on departure (0-1)."
          },
          "alternatives": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ResultPOIAlternative"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Alternatives",
            "description": "Alternative charging stations nearby."
          },
          "sec_duration_min": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Sec Duration Min",
            "description": "Duration of this section in minutes."
          },
          "sec_energy_consumption_kWhkm": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Sec Energy Consumption Kwhkm",
            "description": "Energy consumption for this section in kWh/km."
          },
          "sec_length_km": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Sec Length Km",
            "description": "Section length in km."
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "ResultPOISummary",
        "description": "Charging stop details attached to each response section."
      },
      "ResultSection": {
        "properties": {
          "section_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Section Id",
            "description": "Section identifier, if provided in the request."
          },
          "polyline": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Polyline",
            "description": "Encoded route geometry in HERE Flexible Polyline format (see https://github.com/heremaps/flexible-polyline)."
          },
          "start_pos": {
            "anyOf": [
              {
                "items": {
                  "type": "number"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Start Pos",
            "description": "Start coordinates [lat, lon, state_of_charge]."
          },
          "stop_pos": {
            "anyOf": [
              {
                "items": {
                  "type": "number"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Stop Pos",
            "description": "End coordinates [lat, lon, state_of_charge]."
          },
          "payload_kg": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Payload Kg",
            "description": "Payload in kg."
          },
          "length_m": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Length M",
            "description": "Section length in meters."
          },
          "opening_time": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Opening Time",
            "description": "Time window at the section end."
          },
          "service_time_min": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Service Time Min",
            "description": "Service time at the section destination in minutes."
          },
          "power_available_kW": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Power Available Kw",
            "description": "Charging power at the section end in kW."
          },
          "poi_summary": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ResultPOISummary"
              },
              {
                "type": "null"
              }
            ],
            "description": "Charging stop details for this section."
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "ResultSection",
        "description": "A single route section in the optimization result."
      },
      "SectionRequest": {
        "properties": {
          "section_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Section Id",
            "description": "A unique identifier for the section."
          },
          "polyline": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Polyline",
            "description": "Encoded polyline string representing the route section. Uses HERE Flexible Polyline encoding (see https://github.com/heremaps/flexible-polyline)."
          },
          "start_pos": {
            "anyOf": [
              {
                "items": {
                  "type": "number"
                },
                "type": "array",
                "maxItems": 2,
                "minItems": 2
              },
              {
                "type": "null"
              }
            ],
            "title": "Start Pos",
            "description": "Starting coordinates for the section [latitude, longitude]."
          },
          "stop_pos": {
            "anyOf": [
              {
                "items": {
                  "type": "number"
                },
                "type": "array",
                "maxItems": 2,
                "minItems": 2
              },
              {
                "type": "null"
              }
            ],
            "title": "Stop Pos",
            "description": "Ending coordinates for the section [latitude, longitude]."
          },
          "payload_kg": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Payload Kg",
            "description": "The payload in kg for this section.",
            "default": 19300
          },
          "opening_time": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Opening Time",
            "description": "Opening times of the section end, e.g. ['9:00:00', '10:00:00'] in hh:mm:ss format."
          },
          "power_available_kW": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Power Available Kw",
            "description": "The available charging power (in kW) at the end of the section.",
            "default": 0
          },
          "service_time_min": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Service Time Min",
            "description": "The service time (in minutes) at the end of the section.",
            "default": 0
          }
        },
        "type": "object",
        "title": "SectionRequest",
        "description": "Fields for each section in the *request*."
      },
      "TruckApproved": {
        "type": "string",
        "enum": [
          "T",
          "TT"
        ],
        "title": "TruckApproved"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          },
          "input": {
            "title": "Input"
          },
          "ctx": {
            "type": "object",
            "title": "Context"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    },
    "securitySchemes": {
      "HybridAuthBearer": {
        "type": "http",
        "scheme": "bearer"
      },
      "HTTPBearer": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
